body{
  background-color: rgb(247,247,247);
}

.text-gray{
  color: rgb(98,98,98);
}

.text-orange {
  color: #aa4400;
}

.navbar-fixed-top {
  padding-top: 75px;
}

#subMenu {
  display: none;
}

.icon {
  width: 38px;
  height: 38px;
  margin-bottom: 7px;
  margin-right: 5px;
  margin-left: -5px;
}

.iconSmall {
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
  margin-right: -4px;
  margin-left: -4px;
}

.cursor-pointer {
  cursor: pointer;
}

.menu:hover {
  color: #aa4400;
}

.footer {
  text-align:center;
  bottom: 0px;
}

#subTitle {
  padding-left: 20px;
}

#subTitle-mobile {
  margin-top: -20px;
}

#imgDash {
  background-image: url(../img/dashboard.png);
  background-size: 1300px 850px;
  background-position: 0px 20px;
  background-repeat: no-repeat;
}

.font-12 {
  font-size: 16px;
}

a{
  color: #aa4400;
}

a:hover {
  color: rgb(98,98,98);
}