body{
  background-color: rgb(247,247,247);
}

.text-gray{
  color: rgb(98,98,98);
}

.graphic {
  height: 270px;
  padding: 0px 0px 0px 0px;
  margin: 10px 10px 10px 10px;
}

.navbar-fixed-top {
  padding-top: 75px;
}

#subMenu {
  display: none;
}

.icon {
  width: 38px;
  height: 38px;
  margin-bottom: 7px;
  margin-right: 5px;
  margin-left: -5px;
}

.iconSmall {
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
  margin-right: -4px;
  margin-left: -4px;
}

.cursor-pointer {
  cursor: pointer;
}

.menu:hover {
  color: #aa4400;
}

#btnModal {
  padding-top: 5px;
}

.footer {
  text-align:center;
}

.bold {
  font-weight: bold;
}

td {
  padding-left: 5px;
}

.font-14 {
  font-size: 14px;
}